pre {
    border-radius: 4px;
    border: solid 1px #eee;
    padding: 8px;
    overflow: auto;
}

.panel {
    max-width: 640px;

    margin: auto;
    margin-bottom: 32px;

    border: solid 1px #eee;
    border-radius: 6px;

    padding: 0 16px;

    overflow: auto; /* So <pre> with lots of stuff can be scrolled */
}

pre.bb-pre {
    border-radius: 0;
    margin: 0;
}

.svg-container {
    border: solid 1px #eee;
    border-radius: 5px;
}
