pre.fus {
    font-weight: bold;
}
.color-0 {color: #000}
.color-1 {color: #008}
.color-2 {color: #080}
.color-3 {color: #088}
.color-4 {color: #800}
.color-5 {color: #808}
.color-6 {color: #880}
.color-7 {color: #888}
.color-8 {color: #444}
.color-9 {color: #44F}
.color-10 {color: #4F4}
.color-11 {color: #4FF}
.color-12 {color: #F44}
.color-13 {color: #F4F}
.color-14 {color: #FF4}
.color-15 {color: #FFF}
